@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: 'Poppins'sans-serif;
  max-width: 678px;
  margin: auto;
  margin-top: 1%;
  padding: 6%;
  height: 70vh;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(img/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  background-color: #fff;
  padding: 5%;
}

.logo { font-weight: 700; }

.logo a {
  color: #6070ff;
  text-decoration: none;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

nav .hamburger-menu {
  color: #6070ff;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.title h1 {
  font-size: 3rem;
  font-family: 'Poppins'sans-serif;
  text-transform: capitalize;
  color: #172b4d;
  margin-top: 18%;
  margin-bottom: 1%;
}

p {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #344563;
  margin-bottom: 2%;
}

h2 {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-bottom: 8px;
}

.socials {
  position: relative;
  top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  height: 1rem;
  flex: none;
  list-style: none;
  flex-grow: 0;
  padding-left: 0;
}

.socials li a img {
  transition: transform 1s;
}

.socials li a img:hover {
  transform: translateX(-20%);
}

@media (max-width: 775px) {
  body {
    max-width: 750px;
    margin: auto;
    text-align: start;
  }

  .title {
    height: 146px;
    margin-top: 12%;
  }

  .socials {
    width: 40%;
    top: 40px;
  }
}
